<div class="containerDialog">
    <div class="loginContainer">
        <h2 class="mat-title">Login</h2>
        <div *ngIf="authServ.user | async as user; else showLogin">
            <h1>Hello {{ user.displayName }}!</h1>
            <button (click)="logout()">Logout</button>
          </div>
          <ng-template #showLogin>
            <p>Please login.</p>
            <button (click)="login()">Login with Google</button>
          </ng-template>
    </div>
    <div class="verticalDivider"></div>
    <div class="registerContainer">
        <h2 class="mat-title">Registro</h2>
    </div>
</div>